html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* start back to top button  */


/* End back to top button  */

.text-light {
    color: #FFFBEF !important;
}

.text-dark {
    color: #303030 !important;
}

.bg-light {
    background-color: #FFFBEF !important;
}

.bg-dark {
    background-color: #303030 !important;
}

.bg-warning {
    background-color: #FFCA3C !important;
}

.nav-btn:hover {
    background-color: #FFFBEF !important;
    color: #303030 !important;
    transition: all 0.5s ease !important;
}

#navbar {
    /* height: 214px;   */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/header1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: #FFFBEF solid 10px;
    padding: 15px;
}

#book-now {
    background-color: #FFCA3C !important;
    color: #303030 !important;
}

#book-now:hover {
    background-color: rgb(252, 217, 123) !important;
    transition: all 0.5s ease !important;
}

body {
    align-items: center;
}

.body {
    display: flex;
    max-width: 1300px;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
}

.car-title {
    color: #303030;
    text-align: center;
    line-height: 43.7px;
    text-transform: uppercase;
}

.navbar-nav {
    overflow: hidden !important;
    white-space: nowrap !important;
}

.car-display {
    width: 100%;
    border-radius: 20px;
}


.nav-list {
    padding-inline-end: 25px !important;
    padding-inline-start: 25px !important;
    border-radius: 5px !important;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 251, 240)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' fill='none' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' fill='none' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all 0.5s ease !important;
}

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.rounded {
    border-radius: 10px !important;
}

.rounded-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.rounded-bottom {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.rounded-start {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.rounded-end {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

footer {
    margin-top: 100px !important;
}

.form-group {
    display: inline-flex !important;
    align-items: center !important;
}

.form-location {
    background-color: transparent;
    border: none;
}

.form-location:focus {
    background-color: transparent;
    border: none !important;
    box-shadow: 0 0 0 0.15rem rgba(255, 251, 240, 0.603) !important;
}

.form-location {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.location {
    display: none;
}

.rent-input:hover {
    border: solid #303030 1px;
    box-shadow: 0 0 0 0.15rem rgba(255, 251, 240, 0.603) !important;
    transition: all 0.5s ease !important;
}

.rent-input:focus {
    border: solid #303030 1px;
    box-shadow: 0 0 0 0.15rem rgba(255, 251, 240, 0.603) !important;
}

.proceed-btn {
    background-color: #303030 !important;
}

.proceed-btn:hover {
    background-color: #303030e1 !important;
    transition: all 0.5s ease !important;
}

/* Start of Footer Section */

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-container {
    border-bottom: 3px solid #FFFBEF;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 20%;
    color: #fff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

.hr-total {
    margin-right: 22px;
    margin-left: 22px;
}

.hr-book-info {
    margin-bottom: 5px;
}

ul {
    list-style: none;

    padding: 0;
}

ul li {
    padding-top: 7px;
    padding-bottom: 7px;
}

a {
    text-decoration: none;
    color: inherit;
}

.hover-underline>a {
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        bottom: 0;
        height: 2px;
        margin: -5px 0;
        left: 0;
        background-color: white;
        transition: all 0.4s ease-in 0s;
    }

    &:hover:after {
        width: 100%;
    }
}

/* End Footer Section  */